.main__wrapper {
  display: flex;
  margin: 1.5rem 3rem;

  .films__wrapper {
    display: flex;
    flex-flow: column wrap;

    .top__films__cards, .films__cards {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}