* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;

  body {
    background-color: var(--color-grey-500);
    color: var(--color-white-50);
  }

  h1 {
    margin-bottom: 1.5rem;
  }
}

:root {
  --color-white-50: #FDFDFD;
  --color-grey-500: #1D2226;
  --color-grey-800: #171B1E;
  --color-blue-800: #0F1C26;
  --color-purple-200: #A785ED;
  --color-yellow-200: #FBCD6E;
  --color-pink-200: #E25EBF;
}
