* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;

  body {
    background-color: var(--color-grey-500);
    color: var(--color-white-50);
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    opacity: 0.5;
  }
}

:root {
  --color-white-50: #FDFDFD;
  --color-grey-500: #1D2226;
  --color-grey-800: #171B1E;
  --color-blue-800: #0F1C26;
  --color-purple-200: #A785ED;
  --color-purple-500: #7c5db9;
  --color-yellow-200: #FBCD6E;
  --color-pink-50: #FFB6EB;
  --color-pink-200: #E25EBF;
  --color-medium-opaque-pink: rgba(225, 123, 123, 0.6);
  --color-low-opaque-pink: rgba(225, 123, 123, 0.45);
  --color-medium-opaque-purple: rgba(226, 94, 191, 0.5);
  --color-low-opaque-purple: rgba(226, 94, 191, 0.16);
  --color-medium-opaque-grey: rgba(46, 46, 46, 0.6);
  --color-low-opaque-grey: rgba(46, 46, 46, 0.45);
  --color-lower-opaque-grey: rgba(123, 123, 123, 0.3);
}